services:
  backend:
    image: backend-app:latest
    container_name: backend-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    volumes:
      - h2-data:/tmp
    networks:
      - app-network


  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:8080
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8080
      - NEXT_INTERNAL_API_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  h2-data:
    driver: local

networks:
  app-network:
    driver: bridge
